<%= form_with(model: @tweet, local: true) do |f|%>
  <div class="field">
    <%= f.label :coffee_price, "コーヒー一杯の値段" %><br />
    <%= f.text_field :coffee_price %>
  </div>

  <div class="field">
    <%= f.label :tasty_id, "美味しさ度" %><br />
    <%= f.collection_select(:tasty_id, Tasty.all, :id, :name, {}, {class:"select-box", id:"tweet-tasty"}) %>
  </div>
  
  <div class="field">
    <%= f.label :relaxation_id, "リラックス度" %><br />
    <%= f.collection_select(:relaxation_id, Relaxation.all, :id, :name, {}, {class:"select-box", id:"tweet-relaxation"}) %>
  </div>

  <div class="field">
    <%= f.label :under_ground_id, "アンダーグラウン度" %><br />
    <%= f.collection_select(:under_ground_id, UnderGround.all, :id, :name, {}, {class:"select-box", id:"tweet-under_ground"}) %>
  </div>

  <div class="field">
    <%= f.label :store_name, "店名" %><br />
    <%= f.text_area :store_name, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_area :address, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "プロトタイプの画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>