<%= form_with(model: @tweet, local: true) do |f|%>
  <div class="field">
    <%= f.label :coffee_price, "コーヒー一杯の値段" %><br />
    <%= f.text_field :coffee_price %>
  </div>

  <div class="field">
    <%= f.label :tasty, "美味しさ度" %><br />
    <%= f.text_area :tasty, class: :form__text %>
  </div>
  
  <div class="field">
    <%= f.label :relaxation, "リラックス度" %><br />
    <%= f.text_area :relaxation, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :under_ground, "アンダーグラウン度" %><br />
    <%= f.text_area :under_ground, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :store_name, "店名" %><br />
    <%= f.text_area :store_name, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_area :address, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "プロトタイプの画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>